.body {
  height: 100%;
}

.full-screen-video-player {
  display: flex;
  height: 100vh;
  background-color: #141414;
  align-items: center;
}

.control-video-div {
  width: 100%;
}

.control-video-div::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 18px;
  height: 57px;
  opacity: 1;
  z-index: 1;
  background-image: linear-gradient(to bottom, #141414, black);
}
.control-video-div::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 78px;
  opacity: 1;
  z-index: 1;
  background-image: linear-gradient(to top,#141414, black)
}

.movie-watch-back-btn {
  position: absolute;
  color: antiquewhite;
  opacity: .2;
  font-size: 40px;
  top: 23px;
  left: 50px;
  border-radius: 100%;
  z-index: 1;
}

.movie-watch-back-btn:hover {
  -webkit-animation-name: whitePulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes whitePulse {
  from { border-radius: 20px; background-color: #181717; opacity: 0.6; color: white; -webkit-box-shadow: 0 0 9px #333; }
  50% { border-radius: 20px; background-color: #746a6a; opacity: 0.6; color: white; -webkit-box-shadow: 0 0 18px #f8f8f8; }
  to { border-radius: 20px; background-color: #2b2828; opacity: 0.6; color: white;  -webkit-box-shadow: 0 0 9px #333; }
}