.my-list-movies-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 270px;
  width: 100%;
}

.my-list-page h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-top: 21px;
  margin-left: 24px;
}