.nav-bar-container {
  z-index: 2;
  position: sticky;
  top: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141414;
  height: 55px;
}

.nav-1 {
  display: flex;
  align-items: center;
}

.nav-1 a {
  position: relative;
  margin-left: 5px;
}

.nav-bar-logo {
  background-image: url('https://fontmeme.com/permalink/190501/477ca523174a4729965a1e0179125ec3.png');
  background-size: contain;
  max-width: 123px;
  width: 400px;
  height: 46px;
}

.icon-div {
  height: 19px;
  width: 29px;
  font-size: 20px;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

.search-bar {
  color: antiquewhite;
  border: 1px solid white;
  background: black;
  padding: 7px;
  width: 210px;
}

.nav-2 {
  display: flex;
  line-height: 0px;
  color: grey;
}

.nav-2 p {
  margin: 12px;
}

.nav-2 span {
  color: gold;
}

.logout-btn {
  position: relative;
  color: #fff;
  background-color: #e50914;
  border: none;
  margin-right: 13px;
  padding: 5px 10px;
  font-weight: 200;
  border-radius: 2px;
  font-size: 10px;
  text-decoration: none;
}