.search-page-container {
  display: flex;
  top: 55px;
  left: 0;
  right: 0;
  background-color: #141414;
  width: 100%;
  height: 150vh;
  position: absolute;
}

.search-page {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 700px;
  top: 35px;
  left: 30px;
  right: 30px;
  font-size: 90px;
}

.search-page .movie-thumbnail-slide {
  position: relative;
  display: flex;
  margin: 0px 5px 20px 0px;
  width: 250px;
  height: 149px;
  transition: all .4s ease-in-out; 
}

.search-page .movie-thumbnail-slide:hover {
    height: 260px;
    width: 460px;
}

.movie-thumbnail-slide .toggle-thumbnail-sound {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  opacity: 0.4;
  height: 30px;
  width: 30px;
  right: 11px;
  bottom: 20px;
  z-index: 1;
  color: white;
  font-size: 27px;
}

