
.session-page {
  background: radial-gradient(
    ellipse at center,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
    ),url('https://assets.nflxext.com/ffe/siteui/vlv3/02dd3f21-2c34-4989-a48b-827dd9edc446/458a6a8c-98f1-4e27-9b78-1232d80d5c04/US-en-20190422-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  position: absolute;
  background-position: bottom;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
}

.session-page .demo-btn {
  float: right;
  width: 200px;
  height: 50px;
  margin: 10px 30px 10px 10px;
  border-radius: 3px;
  background: #1e88eb;
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  color: white;
  border: none;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
}

.session-page .logo {
  float: left;
  margin: 0px auto;
  width: 202px;
  height: 73px;
  background-image: url('https://fontmeme.com/permalink/190501/477ca523174a4729965a1e0179125ec3.png');
  background-size: contain;
}

.session-form-container {
  position: relative;
  background-color: rgba(0,0,0,.75);
  padding: 38px;
  width: 282px;
  height: 508px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-title {
  font-size: 28px;
  font-weight: 900;
  margin-top: 26x;
  margin-bottom: 82px;
  color: white;
}

.session-form {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
}

form input {
  font-size: 16px;
  background: rgb(51, 51, 51);
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 33px;
  margin-bottom: 29px;
  width: 255px;
  padding: 7px 22px 8px;
}

.submit-form-btn {
  color: #fff;
  background-color: #e50914;
  line-height: normal;
  padding: 0px;
  font-weight: 400;
  width: 300px;
  height: 50px;
  border-radius: 3px;
  margin-top: 83px;
  font-size: 18px;
  text-decoration: none;
}

.errors {
  position: absolute;
  bottom: 250px;
  left: 39px;
  color: #e87c03;
  margin-bottom: -19px;
  padding: 6px 3px;
}

.errors li {
  margin-bottom: 7px;
}

@-webkit-keyframes bluePulse {
  from { background-color: #135797; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #1e88eb;; -webkit-box-shadow: 0 0 18px #e0e0ff8e; }
  to { background-color: #1d68af; -webkit-box-shadow: 0 0 9px rgb(77, 77, 77); }
}