.browse-container {
  background: #141414;
  width: 100vw;
  height: 150vh;
}

.movie-lists-container {

}

.temp-all-movies-container {
  display: flex;
  flex-flow: wrap;
  padding: 2px 30px 10px;
}

.temp-single-movie-container {
  height: 140px;

}

.temp-single-movie-container img {
  border: 1.5px solid #141414;
  margin-right: 3px;
  box-sizing: border-box;
  height: auto; 
  width: auto; 
  max-width: 229px; 
}