.browse-container {
  background: #141414;
  width: 100vw;
  height: 200vh;
}

#shadow-root #controller {
  display: none;
}

.movie-lists-container {

}

.temp-all-movies-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 2px 30px 10px;
  width: 100vw;
  height: 250px;
}

.temp-single-movie-container {
  position: relative;
  border: 1.5px solid #141414;
  margin-right: 3px;
  box-sizing: border-box;
  max-width: 229px;
  transition: all .4s ease-in-out; 
}

.temp-single-movie-container:hover {
  position: relative;
  border: 1.5px solid #141414;
  margin-right: 3px;
  box-sizing: border-box;
  background-size: none;
  max-height: 200px;
  max-width: 370px;
}

.react-player__preview {
  width: 229px;
}

.react-player__shadow {
  width: 200px;
  height: 200px;
}

.react-player__play-icon {
  display: none;
}



