.nav-bar-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141414;
  height: 55px;
}

.nav-bar-logo {
  background-image: url('https://fontmeme.com/permalink/190501/477ca523174a4729965a1e0179125ec3.png');
  background-size: contain;
  max-width: 123px;
  width: 400px;
  height: 46px;
  position: absolute;
  top: 7px;
  left: 26px;
}

.nav-bar-container button {
  margin-right: 10px
}